.carousel-container {
    overflow: hidden;
    position: relative;
    height: 50px; /* Adjust the height as needed */
  }
  
  .slide {
    display: flex;
    width: 100%;
    animation: slide 8s linear infinite; /* Adjust animation duration (10s) as needed */
  }
  
  .hide {
    opacity: 0;
    width: 0;
  }
  
  .show {
    opacity: 1;
    width: 100%;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

h3{
    font-size:
}